@media screen and (orientation: portrait) {
  html {
    .container {
      .paper {
        width: 99vw;
        height: calc(99vw / 0.917);

        h1 {
          font-size: 2.5vw;
        }
        h2 {
          font-size: 2vw;
        }

        table {
          font-size: 2vw;
        }
      }
    }
  }
}
