@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

%fontfamily {
  font-family: "Merienda", cursive;
}

%title {
  font-size: 2.5vh;
}

%table {
  font-size: 1.7vh;
}

%tooltip {
  font-size: 1.5vh;
}
