@import "../scss/reset";
@import "../scss/fonts";

html {
  @extend %fontfamily;

  body {
    user-select: none;
  }

  .container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.svg);
    opacity: 0.1;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 62.5%;
  }
}
