@import "../scss/reset";
@import "../scss/fonts";

html {
  @extend %fontfamily;

  body {
    user-select: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/medical-background.svg);
    background-size: cover;

    .paper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1 1 100%;
      width: 42vw;
      height: 100vh;
      background-image: url(../img/list.svg);
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;

      .data {
        display: flex;
        flex-grow: 1 1 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        // border: 1px solid #000;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  html {
    .container {
      .paper {
        width: 34vw;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  html {
    .container {
      .paper {
        width: 100vw;
      }
    }
  }
}
