@import "../scss/reset";
@import "../scss/fonts";

html {
  @extend %fontfamily;

  body {
    user-select: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/medical-background.svg);
    background-size: cover;

    .paper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(99vh * 0.917);
      height: 99vh;
      background-image: url(../img/list.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      .data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 70%;
  height: 96%;
  //smooth appearance
  animation-name: open;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

  h1 {
    @extend %title;
  }
  h2 {
    @extend %table;
  }

  table {
    @extend %table;
    width: 96%;
    height: fit-content;
    margin: 1vw 0 0 0;

    button {
      border: none;
      color: transparent;
      width: 100%;
      height: 100%;
    }

    button.cart {
      background: url(../img/cart.svg) center center / 90% 90% no-repeat;

      &:hover {
        background: url(../img/cart_hover.svg) center center / 90% 90% no-repeat;
        transition: all 0.2s ease-in-out;
      }
      &:active {
        background: url(../img/cart_active.svg) center center / 90% 90%
          no-repeat;
        transition: all 0.1s ease-in-out;
      }
      &:disabled {
        cursor: default;
        opacity: 0.1;
      }
    }

    button.bin {
      background: url(../img/bin.svg) center center / 85% 85% no-repeat;

      &:hover {
        background: url(../img/bin_hover.svg) center center / 85% 85% no-repeat;
        transition: all 0.2s ease-in-out;
      }
      &:active {
        background: url(../img/bin_active.svg) center center / 85% 85% no-repeat;
        transition: all 0.1s ease-in-out;
      }
      &:disabled {
        cursor: default;
        opacity: 0.1;
      }
    }

    td.fenced {
      height: 0.5vw;
      border-bottom: 0.1vw dotted;
    }

    td.table-buton {
      width: 3vw;
    }

    tr.markable td {
      height: 2.5vw;
      vertical-align: middle;
    }
    tr.markable:hover {
      transition: all 0.2s ease-in-out;
      background: #bee9f1;
    }
  }
}

.controls {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 30%;
  height: 80%;
  padding: 2vw 2vw 2vw 0;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  button {
    border: none;
    border-radius: 50%;
    color: transparent;
    width: 7vw;
    height: 7vw;

    &:hover {
      background-color: #dcf0ee;
      box-shadow: 0 0 1vw #92dbec;
      transition: all 0.1s ease-in-out;
    }

    &:active {
      background-color: #dcf0ee;
      box-shadow: 0 0 3vw #68cee8;
      transition: all 0.1s ease-in-out;
    }
  }

  .new-list {
    background: url(../img/new_list.svg) center center / 83% 83% no-repeat;
  }

  .sorting {
    background: url(../img/sort.svg) center center / 80% 80% no-repeat;
  }

  .filtering {
    background: url(../img/filter.svg) center center / 80% 80% no-repeat;
  }

  .new-item {
    background: url(../img/add.svg) center center / 80% 80% no-repeat;
  }
}

@import "../scss/adaptive";
